*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
    height:100%;
    width:100%;
}
#main{
    height:100%;
    width: 100%;
    background-color: white;
}
#nav{
    height: 80px;
    width:100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav h5{
    display:none;
}
#nav-part-1{
    display: flex;
    /* gap:1px; */
    padding:0px 40px;
}
#nav-part-2{
    display: flex;
    gap:40px;
    padding: 0px 30px;
}
#nav-part-2 h4 span{
    color: blue;
    font-weight: 600;
}
.circle{
    height: 22px;
    width: 22px;
    background-color: black;    
    border-radius:50%;
}
#nav2{
    display: flex;
    height: 80px;
    width:100%;
    /* background-color: red; */
    
    padding: 25px 60px;
    gap: 60px;
}
#nav2 h3{
    font-weight: 500;
    text-transform: uppercase;
}
#content{
    height: calc(100% - 160px);
    width: 100%;
    /* background-color: aquamarine; */
}
#text-content{
    display: flex;
    height: 45%;
    width:100%;
    /* background-color: coral; */
    flex-wrap:nowrap;
    overflow-x: auto;    /*new thing*/

}
#text-content::-webkit-scrollbar{
    background-color: transparent;
    height: 5px;
}
#text-content::-webkit-scrollbar-thumb{
    background-color: orangered;

}
.elem{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height:100%;
    width:50%;
}
.elem h1{
    padding-top:150px ;
    font-size:100px;
    font-weight: 300;
}
#image-content{
    display: flex;
    height:55%;
    width: 100%;
    /* background-color: yellow; */
    overflow-x:auto;
}
#image-content img{
    flex-shrink: 0;
    /* display: flex; */
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#image-content::-webkit-scrollbar{
    background-color: transparent;
    height: 5px;
}
#image-content::-webkit-scrollbar-thumb{
    background-color: orangered;
}

@media (max-width:600px) {
    html,body{
        height:100%;
        width:100%;
        margin:0px;
        padding:0px;
        overflow-x:hidden ;
    }
    #main{
        height:100%;
        width: 100%;
        background-color: white;
    }
    #nav{
        height: 60px;
       
        /* background-color: red; */
    }

    #nav h5{
        display:initial;
    }
    #nav h5 i{
        font-size:20px;
        font-weight: 700;
    }
    #nav-part-2 h4:nth-child(1){
        display: initial;
        margin-right: 20px;
    }

    #nav-part-1{
        display: flex;
        align-items: center;
        /* gap:1px; */
        padding:0px 20px;
    }
    #nav-part-2{
        align-items: center;
/*         
        gap:40px; */
        
    }
    #nav-part-2 h4{
        display: none;
    }
    #nav-part-2 h4 span{
        color: blue;
        font-weight: 600;
    }
    .circle{
        height: 12px;
        width: 12px;
        background-color: black;    
        border-radius:50%;
    }
    #nav2{
        
        height: 80px;
        width:100%;
        /* background-color: red;  */
        
        padding: 20px 10px;
        
    }
    #nav2 h3{
        font-weight: 500;
        text-transform: uppercase;
        /* font-size:6px; */
    }
    .elem{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-shrink: 0;
        height:100%;
        width:50%;
        gap: 60px;
    }
    .elem h1{
        justify-content: space-between;
        padding-top:150px ;
        font-size:100px;
        font-weight: 300;
        gap:60px;
    }
   
}